<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gallerycamera" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginGalleryCamera</name>
    <description>Cordova Gallery Camera</description>
    <license>MIT License</license>
    <keywords>cordova, camera, gallery</keywords>
    <repo>https://github.com/lmmartinb/cordova-plugin-gallerycamera</repo>
    <issue>https://github.com/lmmartinb/cordova-plugin-gallerycamera/issues</issue>
    
    <js-module name="CordovaPluginGalleryCamera" src="www/CordovaPluginGalleryCamera.js">
        <clobbers target="navigator.galleryCamera" />
    </js-module>
    
    <dependency id="cordova-plugin-file" />
    
    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaPluginGalleryCamera">
                <param name="android-package" value="es.lmmartin.cordova.camera.GalleryCameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
        	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/GalleryCameraLauncher.java" target-dir="src/es/lmmartin/cordova/camera" />
        
        <config-file target="res/values/strings.xml" parent="/*">
			<string name="pick_any_option">Pick any option...</string>
		</config-file>
    </platform>
</plugin>
